body {
 background-color: aliceblue;
}

.container input{
  width: 100%;
  padding: 15px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

.container {
  padding: 50px;
  background-color: rgb(22, 174, 174);
  margin-left: 32%;
  height: 30%;
  width: 30%;
}

button {
  display: flex;
  background-color: rgb(48, 39, 67);
  color: white;
  padding: 14px 20px;
  margin: 18px 190px;
  border: none;
  cursor: pointer;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: 1px solid white;
  margin-bottom: 25px;
}

#login {

  padding-top: 50px;
}



h2 {
  color: rgb(26, 26, 31);
  font: bold;
}